body{
    font-family: sans-serif;
    text-align: center;
    font-size: x-large;
    background-image: url('bg.jpg');
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: 700;
}
header{
    /* text-align: center; */
    margin-top: 40px;
    padding: 50px 15px 15px;

}
#input{
    width: 100%;
    border: none;
    height: 35px;
    max-width: 280px;
    background-color: antiquewhite;
    border-bottom: 4px solid rgb(233, 106, 61);
    border-radius: 8px 2px;
    outline: none;
    font-weight: 600;
    font-size: medium;
    text-indent: 20px;
}
section{
    margin-block-start: 20px;

}
main{
    margin-block-start: 20px;
    color: #fff;
    font-size: 102px;
    font-weight: 700px;
    text-shadow: 2px 10px rgba(0,0,0,0.6);
    font-style: italic;
}
#date{
    font-size: small;
    font-weight: 300;
    padding: 10px;
}
.bottom{
    margin-block-start: 20px;
    text-shadow: 2px 5px rgba(0,0,0,0.3);
}
#desc{
    font-style: italic;
}
#min_max_tem{
    margin-top: 20px;
    
}